:root {
  --red: #d01c28 --gray: #2e2e2e
}

* {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;

  height: 72px;
  align-items: center;
}

nav ul {

  display: flex;
  gap: 24px;
}

/* button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
} */

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh-72px);

}

.hero h1 {

  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}


.hero p {

  font-weight: 600;
  color: var(--gray);
  max-width: 404px;
  background-color: rgb(251, 142, 78);
}

/* .hero-btn {
  display: flex;
  gap: 40px;
}

.hero-btn button {
  font-size: 24 px;
} */

/* .secondBtn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}

.firstButton {
  background: red;
  color: var(--black);
  border: 1px solid gray;
} */

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons {
  display: flex;
  gap: 16px;


}

.brand-icons img {
  width: 80px;
  height: auto;
}


.hero-Content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

/* .hero .hero-Imag img {
  width: 100%;
  height: 100%;
  object-position: 20% 80%;
  object-position: top;
  object-fit: fill;
  object-fit: cover;

}

.hero .hero-Imag img:hover {
  width: 200%;
  height: 200%;
  object-position: 40% 60%;
} */

body {
  background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #a18cd1, #fbc2eb);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}